
*.pyc
project/__pycache__/cipher.cpython-39.pyc
project/__pycache__/cipher.cpython-39.pyc
project/.DS_Store
project/__pycache__/cipher.cpython-39.pyc
/project/myvenv
project/alice.txt
project/cat.bmp
